.cardSecond{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #f6f7fb;
    padding: 18px;
    margin-top: 2%;
    .title{
        font-weight: 500;
        font-size: 14px;
    }
    .longestRunCard{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: #e8caa2;
        padding: 7px;
    }
    .skattingCard{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: #d0e9d7;
        padding: 7px;
    }
}

.thirdCard{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #f6f7fb;
    padding: 18px;
    margin-top: 6%;
}