.thirdCardStyle{
    height: 120px;
    width: 100%;
    background-color: #d6e3f8;
    padding: 15px;
    border-radius: 10px;
    margin: 5% 0%;

    .title{
        font-weight: 500;
    font-size: 14px;
    }
}